* {
    font-weight: bold;
    font-size: 15px;
}
body {
    background-image: url('https://external-preview.redd.it/dqGdD50QMp3G106qGF0vJ_FAZ6-spBNNm7S5RqTrKag.jpg?auto=webp&s=56dc1d54b818348762a2c4a9de2ce66ae7463e4f');
    
    background-size: auto;
}

h1 {
    text-align: center;
    font-size: 32px;
}

.container {
    text-align: center;
    margin: 5px auto;
    height: 900px;
    width: 75%;
    border: 5px solid black;
    padding: 5px;
    background: -webkit-linear-gradient(rgb(245, 183, 90, 0.7), rgb(231, 175, 123, 0.7));
    border-radius: 50px 50px 50px 50px;
    box-shadow: 2px 2px 5px 2px;
} 


img {
    height: 300px;
    min-height: 100px;
    width: 196px;
    min-width: 150px;
}

button {
    justify-content: center;
    width: 80px;
    padding: 7px;
    margin: 25px auto;
    display: block;
}

[type=radio] {
    display: none;
}

[type=radio] + img:hover {
    outline: 2px solid #f00;
    cursor: pointer;
}

[type=radio]:checked + img {
    cursor: pointer;
    outline: 2px solid #f00;
}


.computer-choice {
    visibility: hidden;
}

.game-reset {
    position: relative;
    top: -13px;
}